body {
 max-width: 960px;
 margin :auto;
 display: flex;
 margin-top: 20px;
}
h1 {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}
h2 {
    padding-top: 20px;
    font-family: 'DM Sans';
}
p {
    font-family: 'DM Sans';
    font-size: 14px;
}
header {
    margin-left: 10%;
    margin-right: 10%;
    padding-top: 10px;
    padding-bottom: 10px;
}
nav {
    display: inline-block;
    width: 73%;
}
/* section {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
} */
/* div class row {
    align-items: center;
} */
ul {
    list-style: none;
    padding-left: 0px;
    padding-top: 15px;
    font-family: 'Poppins';
}
.row {
    display:flex
    align-items:flex-start
}
.LeftColumnStuff {
    float: left
}
.CaseStudy1 {
    background-color: #EC4464;
    border-radius: 8px;
    color: white;
    margin-bottom: 10px;
    font-family: 'Poppins';
}
.CaseStudy2 {
    background-color: #1bc4c7;
    border-radius: 8px;
    color: white;
    margin-bottom: 10px;
    font-family: 'Poppins';
}
.CaseStudy3 {
    background-color: #0E467C;
    border-radius: 8px;
    color: white;
    margin-bottom: 10px;
    font-family: 'Poppins';
}
.CaseStudyPadding {
    padding: 20px;
}
.orangebutton {
    background-color: #F2994A;
    border: none;
    color: white;
    padding: 10px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.RightColumnStuff {
    /* background-color: #EC4464; */
    min-width: 700px;
    padding: 20px;
    padding-top: 0px;
}
.RightColumnStuff img {
    width: 100%;
    height: auto;
}
.SkillBoxContainer {
    display: grid;
    grid-template-columns: auto auto;
    gap: 1em;
    grid-auto-rows: 200px, 200px;
    /* grid-auto-rows: 1fr; */
    /* grid-template-rows: 1fr;
    background-color: #f1f1f1; */
}
.SkillBoxes {
    /* background-color: #F2994A; */
    min-width: 300px;
    align-items: center;
}
.SkillBoxes p {
    margin: 0px;
    padding: 15px;
    background-color: #f1f1f1;
    border: 10px;
    height: auto;
}
.SkillBoxes h2 {
    color: white;
}
/* @media only screen and (max-width: 600px) {
    .SkillBoxContainer {
        display: grid;
        grid-template-columns: 1fr;
        gap: 1em;
        grid-auto-rows: 1fr, 1fr, 1fr, 1fr;
    }  
    .body {
        background-color: aqua;
    }
    .SkillBoxes img {
        width: 300px;
        height: 200px;
    }
    .LeftColumnStuff {
        display: none;
    }
} */
